ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
  }
  .nav-left {
    float: left;
    margin-left: 14px;
  }
  .nav-main {
    padding: 15px;
  }
  .nav-right {
    float: right;
    margin-right: 14px;
  }
  .apps-icon {
    vertical-align: -12px;
  }
  .account-icon {
    vertical-align: -12px;
    border-radius: 50%;
  }
  .logo {
    padding-top: 110px;
    text-align: center;
  }
  .smaller-image {
    width: 30px;
    height: auto;
  }
  