ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
  }
  .nav-left {
    float: left;
    margin-left: 14px;
  }
  .nav-main {
    padding: 15px;
  }
  .nav-right {
    float: right;
    margin-right: 14px;
  }
  .apps-icon {
    vertical-align: -12px;
  }
  .account-icon {
    vertical-align: -12px;
  }
  .logo {
    padding-top: 110px;
    text-align: center;
  }
  .smaller-image {
    width: 30px;
    height: auto;
  }
  .smaller-image-account {
    width: 30px;
    height: auto;
    border-radius: 50%;
  }
  .search-field {
    margin-top: 20px;
    text-align: center;
  }
  .buttons {
    margin-top: 20px;
    text-align: center;
  }
  .search-button {
    background-color: #f2f2f2;
    border: 0;
    border-radius: 4px;
    color: #5F6368;
    font-size: 13px;
    margin: 0px 8px;
    padding: 10px 20px;
  }
  .search-button:hover {
    border: 1px solid #c6c6c6;
    color: black;
    cursor: pointer;
  }
  .search-input {
    background-color: #ffffff;
    border: 1px solid #dadce0;
    border-radius: 50px;
    height: 30px;
    padding: 8px;
    width: 500px;
  }